<form action="/records" method="POST">
  類別:<select name="category" required>
    　<option value="home">home</option>
    　<option value="transportation">transportation</option>
    　<option value="entertainment">entertainment</option>
    　<option value="food">food</option>
    <option value="other">other</option>
  </select>
  日期：<input type="date" name="date" required>
  名稱：<input type="text" name="name" required>
  金額：<input type="number" name="amount" required>
  <button type="submit">Create</button>
</form>